<div class="select-button-container" [class.open]="isDropdownOpen">
  <button class="select-button" [ngClass]="{'button-active': isAnyOptionSelected}" (click)="toggleDropdown($event)">
    {{ selectedOption || placeholder }}
  </button>
  <div class="select-dropdown" [class.open]="isDropdownOpen">
    <div style="margin-top: 4px;">
      <div *ngFor="let option of options" class="select-dropdown__option" [class.disabled]="option.disabled"
        [class.selected]="option.selected" (click)="!option.disabled && toggleOption(option)">
        <span class="checkbox-container" [class.disabled]="option.disabled" [class.selected]="option.selected">
          <span class="checkbox-visual"></span>
          <input type="checkbox" [checked]="option.selected" [disabled]="option.disabled">
        </span>
        <span class="select-dropdown__option-text">{{ option.label }}</span>
      </div>
    </div>
  </div>
</div> 